nav{
    height: 80px; 
    background-color: #a73817 !important;
}

body{
    padding-top: 80px; /*ensuring the top doesn't go under the sticky navbar*/
}

.carousel-item img {
    width: 100%;
    height: 400px; 
    object-fit: cover; /* Ensures images are cropped to fit without distortion */
    cursor: pointer;
}

/*making of the sticky navbar*/
.fixed-menu {
    position: sticky; /* Sticky positioning */
    z-index: 1000; /* high index to ensure the menu stays above other content */
    top:150px;
}

/*hovering effect on the hyperlinks in the navbar*/
.nav-item, li a{
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;  
    transition: background 0.3s ease-out, color 0.3s ease-out;
    color: white !important; /*!important to counteract Bootstrap's default settings*/
    border-radius: 25px;
}

li a:hover {
    color:#a73817 !important;
    background: white !important;
}

/*changing the color of the name of the association in the navbar and ensuring to go againt Bootstrap's default settings*/
.navbar-brand{
    font-weight: 500;
    font-size: 1.5em; 
    color: white !important;
}

.navbar-brand:hover{
    font-weight: 500;
    font-size: 1.5em; 
    color: white !important;
}

#menu .nav-link {
    background: none !important; /* Removes background */
    display: block; /* Ensures each item is on a new line */
    padding: 8px 0; /* Adds space between items */
    font-size: 1.1em; /* Adjust font size if needed */
    color: black; /* Ensures text color is visible */
    text-decoration: none; /* Removes underline */
}

h3 {
    color: #a73817; /* Custom color */
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bolder;
}

.presentation img{
    border-radius: 25px;
}

.description p{
    text-align: justify;
}

#menu{
    border-color: #a73817;
}

.map{
    display: flex;              /* Enable flexbox for centering */
  justify-content: center;    /* Horizontally center the image */
  align-items: center;  
  padding-bottom:20px;
  width:100%;
  height:auto;      /* Vertically center the image */            /* Add padding around the map */ 
}

.map img{
    width: 100%;                /* Make the map width 100% of its container */
    height: auto;               /* Auto-adjust the height based on the width */
    max-width: 100%;  
}


